@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Hide bar */
.hide-head {
  display: none;
}
@media (min-width: 768px) {
  .hide-head {
    display: flex;
  }
}
.hide-small {
  display: flex;
}
@media (min-width: 768px) {
  .hide-small {
    display: none;
  }
}

.dropdown-width {
  max-width: 200px;
}
